<h2>People interested in you</h2>
<div class="interestedInMeBox" ng-repeat="user in data.usersInterestedInMe track by $index">
  <p>
    <strong>{{user.name}}</strong><br>
    {{user.headline}}<br>
    <a href="{{user.publicProfileUrl}}">LinkedIn Profile</a><br>
    {{user.location}}<br>
  </p>
  <p>
    Interests:
    <ul>
        <li ng-repeat="interest in user.interests | filter:emptyOrNull">{{interest}}</li>
    </ul>
  </p>
  <p>
    {{user.summary}}
  </p>
  <img ng-src="{{user.picture}}"><br>
  <a href="#/chat">agree</a><br>
  <a href="" ng-click="remove($index)">reject</a>
  <hr>
</div>