<h2>People with shared Interests</h2>
<div class="interestedInMeBox" ng-repeat="user in data.usersWithSharedInterests">
  <p>
    <strong>{{user.name}}</strong><br>
    {{user.headline}}<br>
    <a href="{{user.publicProfileUrl}}">LinkedIn Profile</a><br>
    {{user.location}}<br>
    {{user.interests}}
  </p>
  <p>
    {{user.summary}}
  </p>

  <img src="{{user.picture}}"><br>
  <a ng-click="imInterestInYou(user._id)" href="">I would like to pair with you</a><br>
  <a ng-click="imNotInterestInYou(user._id)" href="">I dont want to see you again</a>
  <hr>
</div>