body {
  font-family: 'Roboto', sans-serif;
}

.header{
  height:80px;
  text-align: center;
  background-color: #6E5785;
  padding-top: 5px;
  color: white;
}

.Content{
  height: 100%; 
  overflow: auto;
  padding-top: 10px;
  padding-left: 10px;
}

.Footer{
  position: relative;
  margin-top: -30px;
  height: 30px;
  clear:both;
}

a {
  color: #0060B6;
  text-decoration: none;
}

a:hover {
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;  
}

.mainTitle {
  color: white;
}

.btn-login {
  width: 40%;
}